/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .logo img {
    height: 100px;
    width: 160px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

header nav ul li a:hover{
    color: #3d5cb8;
}

header .user {
    display: flex;
    align-items: center;
}

header .user span {
    margin-right: 10px;
    font-weight: bold;
}

header .logout {
    background-color: #3d5cb8;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

/* Container styling */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.billing, .payment-form {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.25em;
    color: #444;
    margin-bottom: 15px;
}

.billing p {
    font-size: 1em;
    color: #555;
}

.billing span {
    font-weight: bold;
}

.payment-method {
    margin-bottom: 20px;
}

.payment-method label {
    margin-right: 20px;
    font-weight: bold;
    color: #555;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form__group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form__group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.form__group input:focus {
    border-color: #3d5cb8;
    box-shadow: 0 0 8px rgba(142, 36, 77, 0.3);
}

/* Button styling */
.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #3d5cb8;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #6f87cf;
    transform: translateY(-2px);
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons .btn {
        margin-bottom: 10px;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
